
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operacion No Autorizada</title>
</head>
<body>
    <div> 
        @ViewBag.operacion
        @ViewBag.modulo
        @ViewBag.error
    </div>
</body>
</html>
